<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Reset Password</title>
</head>
<body>
<div style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px; text-align: center;">
    <img src="https://i.pinimg.com/originals/58/70/cc/5870cc19efba21f0cf1d3f7a7f884e92.png"
         alt="Digi-dreams logo" style="display: block; max-width: 100px; height: auto; margin: 0 auto 20px;">

    <h2 style="font-size: 20px; color: #333;">Hello,</h2>

    <p style="font-size: 16px; color: #666;">
        You requested for a password reset. Click the link below to reset your password:
    </p>

    <a th:href="@{'http://www.test.com/reset-password?token=' + ${token}}"
       style="display: inline-block; margin-top: 20px; padding: 10px 20px; color: #fff;
       background-color: #007bff; border-radius: 5px; text-decoration: none;">
        Reset Password
    </a>

    <p style="font-size: 16px; color: #666; margin-top: 30px;">
        If you didn’t ask to reset your password, you can ignore this email.
    </p>

    <p style="font-size: 16px; color: #666;">Thanks,</p>
    <p style="font-size: 16px; color: #666;">Digi dreams</p>
</div>
</body>
</html>
